/* ==========================================
   SHARED KEYFRAMES
========================================== */

@keyframes blink {
  0%,
  45% {
    opacity: 1;
  }

  46%,
  100% {
    opacity: 0;
  }
}

@keyframes growBar {
  from {
    width: 0;
  }
}
